APP_ENV=local
APP_DEBUG=false

# configuração da imagem do banco de dados no docker compose 
DB_DATABASE=solicitacao_atendimento
DB_USERNAME=postgres
DB_PASSWORD=postgres

VITE_API_URL=http://localhost:8000/api/v1
